* {
    margin:0;
    padding:0;
}
html,body {
    background:#222;
    overflow:hidden;
}
html {
    font-size:18px;
}
.tile {
    width:64px;
    height:64px;
    /* outline:1px solid black; */
    position:absolute;
    background-image:url(/td/tiles/terrain_tiles_v2.png);
    background-size:640px 1024px; /* 320px 512px default image - want 2x zoom to take 32px tileset to 64px on screen */
    background-position-x:0px;
    background-position-y:0px;
    z-index:1;
}
.tile:not(.buildable) {
    opacity:0.5;
}
.tile.passable {
    opacity:1;
    z-index: 2;
}

#game, #map, #tiles, #entities, #projectiles {
    width:100vw;
    height:100vh;
    height:100dvh;
    overflow:hidden;
}

.path {
    width:64px;
    height:64px;
    /* outline:1px solid black; */
    position:absolute;
    background-image:url(/td/tiles/dirtpath_tiles.png);
    background-size:256px 256px; /* 128px 128px default image - want 2x zoom to take 32px tileset to 64px on screen */
    background-position-x:-64px;
    background-position-y:-64px;
    z-index:2;
}

#map {
    transition:all 0.3s ease;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
}
#tiles, #entities, #towers {
    position:absolute;
    top:0;
    left:0;
}


div.entity {
    width:32px;
    height:32px;
    position:absolute;
    z-index:3;
}
div.tower {
    z-index:3;
    position:absolute;
}

.projectile {
    position:absolute;
    width:5px;
    height:5px;
    background:red;
    z-index:4;
    filter:drop-shadow(5px 5px 3px black);
}

.tower.gun1 {
    background-image:url(/td/tiles/towers_beta.png);
    background-size: 24px 77px;
    background-position-x: 0px;
    background-position-y: 0px;
    width: 12px;
    height: 26px;
    filter:drop-shadow(5px 5px 3px black);
}

.entity.zombie {
    background-image:url(/td/tiles/Zombie_Small.png);
    background-size:160px 96px; /* 160 x 96 */
}
.entity.zombie[data-frame='0'] {
    background-position-x:0px;
    background-position-y:0px;
} 
.entity.zombie[data-frame='1'] {
    background-position-x:-32px;
    background-position-y:0px;
}
.entity.zombie[data-frame='2'] {
    background-position-x:-64px;
    background-position-y:0px;
}
.entity.zombie[data-frame='3'] {
    background-position-x:-96px;
    background-position-y:0px;
}